<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User Registration</title>
</head>
<body>
<div align="left">
    <B>Class Registration</B>
    <form action="#" th:action="@{/register}" method="post" th:object="${registrant}">
        <table/>
        <tr/>
        <td/>
        <label>First name:</label>
         </td/>
        <td/>
        <input type="text" th:field="*{fname}" />
        </td/>
        <td/>
        <label>Last name:</label>
        </td/>
        <td/>
        <input type="text" th:field="*{lname}" />
        </td/>
        </tr/>

        <tr/>
        <td/>
        <label>Email:</label>
        </td/>
        <td/>
        <input type="text" th:field="*{email}" />
        </td/>
        </tr/>

        <tr/>
        <td/>
        <label>Phone:</label>
        </td/>
        <td/>
        <input type="text" th:field="*{phone}" />
        </td/>
        </tr/>

        <tr/>
        <td/>
        <label>Address:</label>
        </td/>
        <td/>
        <input type="text" th:field="*{addr_line1}" />
        </td/>
        </tr/>

        <tr/>
        <td/>
        <label>City:</label>
        </td/>
        <td/>
        <input type="text" th:field="*{city}" />
        </td/>

        <td/>
        <label>State:</label>
        </td/>
        <td/>
        <input type="text" th:field="*{state}" />
        </td/>

        <td/>
        <label>Zip:</label>
        </td/>
        <td/>
        <input type="text" th:field="*{zip}" />
        </td/>
        </tr/>

        <td/>
        <label>Class:</label>
        </td/>
        <td/>
        <select th:field="*{class_name}">
            <option th:each="p : ${class_name}" th:value="${p}" th:text="${p}" />
        </select>
        </td/>
        </tr/>

        </table/>

        <br/>

        <button type="submit">Register for Class</button>
    </form>
</div>
</body>
</html>