<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties" />

<!--    <bean id="generalProperties"-->
<!--          class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer ">-->
<!--        <property name="location" value="classpath:application.properties" />-->
<!--    </bean>-->

    <bean id="mySqlDS" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${dbdriverclass}" />
        <property name="url" value="${dbbaseurl}" />
        <property name="username" value="${dbusername}" />
        <property name="password" value="${dbpassword}" />
    </bean>

    <!-- jdbcTemplate beans -->
    <bean id="jdbcTemplateOracle" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="mySqlDS"></property>
    </bean>

    <bean id="mySQLDao" class="com.database.Dao" >
        <property name="jdbcTemplate" ref="jdbcTemplateOracle"></property>
    </bean>

    <bean id="mQhandler" class="com.messagecontrol.ActiveMQhandler" >
        <property name="MQEndpoint" value="${mqendpoint}" />
    </bean>

    <bean id="loadProperties" class="com.properties.LoadProperties" >
        <property name="appProperties" value="${appproperties}" />
    </bean>

</beans>